body{
    background-color: #f9edd7;
}
#titulodapagina{
    text-align: center;
    color: #eb5e28;
    font-size: 35px;
}
#instrucoes{
    text-align: center;
    color: black;
    font-size: 20px;
}
#primeiralinha{
    text-align: center;
    font-size: 25px;
}
#velo{
    border-style: double;
    border-radius: 10px;
    background-color: #fffcf2;
}
p{
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#botao{
    background-color:#868278;
    border: 2px solid #394039;
    color: rgb(255, 255, 255);
    padding: 10px 24px;;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
#botao:hover{
    transition-duration: 0.3s;
    background-color: #eb5e28;   
}
